Repository lukadfagundes/sunny-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, markdownlint

.pre-commit-config.yaml:

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: check-json
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ["--branch", "main", "--branch", "master"]

  # JavaScript/TypeScript specific - Using local Node.js (Windows compatible)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|jsx|ts|tsx)$
        args: [--fix]

  # Prettier formatting - Using local Node.js (Windows compatible)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier
        language: system
        files: \.(js|jsx|json|css|md|yml|yaml)$
        exclude: 'deprecated|archived|package-lock\.json|yarn\.lock'
        args: [--write]

  # Custom local hooks (including Markdown linting)
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint
        entry: npx markdownlint
        language: system
        files: \.md$
        args: [--fix]
      - id: npm-audit-check
        name: NPM Audit Check
        entry: npm audit --audit-level=high
        language: system
        pass_filenames: false
        stages: [pre-commit]

default_language_version:
  node: system

default_stages: [pre-commit, pre-push]
fail_fast: false

feat(portfolio): Implement dynamic portfolio page and refactor ShipWheel
  CHANGELOG.md
  src/app/portfolio/page.tsx
  src/components/ShipWheel.tsx
  src/components/portfolio/CategorySection.tsx
  src/components/portfolio/ProjectCard.tsx
  src/lib/data/projects.ts
  src/lib/data/types.ts
Due: eslint, prettier, markdownlint

feat(about): implement MySpace-style About page
  CHANGELOG.md
  src/app/about/page.tsx
  src/components/about/BioSections.tsx
  src/components/about/BlogEntry.tsx
  src/components/about/CommentsWall.tsx
  src/components/about/ContactTable.tsx
  src/components/about/DetailsBox.tsx
  src/components/about/InterestsTable.tsx
  src/components/about/MusicPlayer.tsx
  src/components/about/MySpaceUrl.tsx
  src/components/about/NetworkBanner.tsx
  src/components/about/ProfileCard.tsx
  src/components/about/SectionHeader.tsx
  src/components/about/TopEight.tsx
  src/lib/data/personal.ts
Due: eslint, prettier, markdownlint

feat(about): Implement custom 404 page
  CHANGELOG.md
  src/app/contact/page.tsx
  src/app/not-found.tsx
  src/components/ShipWheel.tsx
Due: eslint, prettier, markdownlint

feat(404 and Landing): Implement interactive Zoro game for 404 page and Landing page start
  .env.example
  .gitignore
  CHANGELOG.md
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/404/DPad.tsx
  src/components/404/GameBoard.tsx
  src/components/404/GameHUD.tsx
  src/components/404/GameTile.tsx
  src/components/404/StaticNotFound.tsx
  src/components/404/WinCelebration.tsx
  src/components/404/ZoroGame.tsx
  src/components/404/grid.ts
  src/components/404/quotes.ts
  src/components/404/reducer.ts
  src/components/404/types.ts
  src/components/404/useGameInput.ts
  src/components/HeroSection.tsx
  src/components/ShipWheel.tsx
  src/components/StatCounter.tsx
  src/components/StatsSection.tsx
  src/components/landing/ContributionHeatmap.tsx
  src/components/landing/CurrentlyBuilding.tsx
  src/components/landing/StatsDashboard.tsx
  src/components/landing/TechArsenal.tsx
  src/components/landing/VoyageSail.tsx
  src/lib/github.ts
Due: eslint, prettier, markdownlint

feat(landing): Revamp sections with v3 theme and animations (#84)
  CHANGELOG.md
  src/components/landing/ContributionHeatmap.tsx
  src/components/landing/CurrentlyBuilding.tsx
  src/components/landing/StatsDashboard.tsx
  src/components/landing/TechArsenal.tsx
Due: eslint, prettier, markdownlint

feat(landing): Unify components into a themed ship's deck section (#84)
  CHANGELOG.md
  src/app/page.tsx
  src/components/landing/ContributionHeatmap.tsx
  src/components/landing/CurrentlyBuilding.tsx
  src/components/landing/StatsDashboard.tsx
  src/components/landing/TechArsenal.tsx
Due: eslint, prettier, markdownlint

bump
  src/components/landing/StatsDashboard.tsx
Due: eslint

feat(global): Implement global background and enhance 404 game (#84)
  CHANGELOG.md
  src/app/about/page.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/portfolio/page.tsx
  src/components/404/StaticNotFound.tsx
  src/components/404/ZoroGame.tsx
  src/components/404/useGameInput.ts
  src/components/landing/VoyageSail.tsx
Due: eslint, prettier, markdownlint

test(v3): Add Jest and comprehensive test suite
  CHANGELOG.md
  V3-PRD.md
  eslint.config.mjs
  jest.config.ts
  package-lock.json
  package.json
  tests/404/grid.test.ts
  tests/404/quotes.test.ts
  tests/404/reducer.test.ts
  tests/404/useGameInput.test.ts
  tests/components/CategorySection.test.tsx
  tests/components/ContributionHeatmap.test.tsx
  tests/components/CurrentlyBuilding.test.tsx
  tests/components/DPad.test.tsx
  tests/components/GameBoard.test.tsx
  tests/components/GameHUD.test.tsx
  tests/components/GameTile.test.tsx
  tests/components/HeroSection.test.tsx
  tests/components/LetterReveal.test.tsx
  tests/components/ProjectCard.test.tsx
  tests/components/ShipWheel.test.tsx
  tests/components/StaticNotFound.test.tsx
  tests/components/StatsDashboard.test.tsx
  tests/components/TechArsenal.test.tsx
  tests/components/VoyageSail.test.tsx
  tests/components/WinCelebration.test.tsx
  tests/components/ZoroGame.test.tsx
  tests/components/about-edges.test.tsx
  tests/components/about.test.tsx
  tests/helpers/mocks.ts
  tests/lib/github.test.ts
  tests/lib/projects.test.ts
  tests/pages/about.test.tsx
  tests/pages/not-found.test.tsx
  tests/pages/portfolio.test.tsx
  tests/setup.ts
Due: eslint, prettier, markdownlint

refactor(VoyageSail): Move animations to global CSS (#84)
  src/app/globals.css
  src/components/landing/VoyageSail.tsx
  tests/components/VoyageSail.test.tsx
Due: eslint, prettier

feat(about): Replace contact actions with social media links
  CHANGELOG.md
  social-media-api-guide.md
  src/components/about/ContactTable.tsx
  src/lib/data/personal.ts
  tests/components/about-edges.test.tsx
  tests/components/about.test.tsx
Due: eslint, prettier, markdownlint

fix(ShipWheel): Adjust desktop right offset
  src/components/ShipWheel.tsx
Due: eslint

feat(instagram): Add Instagram photo gallery and comments (#84)
  .env.example
  CHANGELOG.md
  next.config.ts
  src/app/about/page.tsx
  src/app/api/instagram/comments/route.ts
  src/app/api/instagram/route.ts
  src/components/about/CommentThread.tsx
  src/components/about/PhotoGallery.tsx
  src/components/about/PostCard.tsx
  src/components/about/ProfileCard.tsx
  tests/api/instagram-comments.test.ts
  tests/api/instagram.test.ts
  tests/components/CommentThread.test.tsx
  tests/components/PhotoGallery.test.tsx
  tests/components/PostCard.test.tsx
  tests/components/about.test.tsx
  tests/pages/about.test.tsx
Due: eslint, prettier, markdownlint

feat(about): Add YouTube video gallery to about page
  .env.example
  CHANGELOG.md
  next.config.ts
  src/app/about/page.tsx
  src/app/api/youtube/route.ts
  src/components/about/ProfileCard.tsx
  src/components/about/VideoCard.tsx
  src/components/about/VideoGallery.tsx
  tests/api/youtube.test.ts
  tests/components/VideoCard.test.tsx
  tests/components/VideoGallery.test.tsx
  tests/components/about.test.tsx
  tests/pages/about.test.tsx
Due: eslint, prettier, markdownlint

feat(about): Integrate Bluesky posts into About page
  .env.example
  CHANGELOG.md
  next.config.ts
  src/app/api/bluesky/route.ts
  src/components/about/BlogEntry.tsx
  tests/api/bluesky.test.ts
  tests/components/about.test.tsx
  tests/pages/about.test.tsx
  tests/setup.ts
Due: eslint, prettier, markdownlint

feat(spotify): Add Spotify music gallery and dynamic player
  .env.example
  CHANGELOG.md
  next.config.ts
  src/app/about/page.tsx
  src/app/api/spotify/token.ts
  src/app/api/spotify/top-track/route.ts
  src/app/api/spotify/wrapped/route.ts
  src/components/about/MusicGallery.tsx
  src/components/about/MusicPlayer.tsx
  tests/api/spotify-top-track.test.ts
  tests/api/spotify-wrapped.test.ts
  tests/components/MusicGallery.test.tsx
  tests/components/MusicPlayer.test.tsx
  tests/components/about.test.tsx
  tests/pages/about.test.tsx
Due: eslint, prettier, markdownlint

feat(profile): Implement dynamic profile and activity status
  CHANGELOG.md
  next.config.ts
  src/app/api/activity/route.ts
  src/app/api/bluesky/route.ts
  src/app/api/github/route.ts
  src/app/api/instagram/route.ts
  src/app/api/spotify/top-track/route.ts
  src/app/api/spotify/wrapped/route.ts
  src/app/api/youtube/route.ts
  src/components/about/ProfileCard.tsx
  src/lib/data/personal.ts
  src/lib/github.ts
  tests/api/activity.test.ts
  tests/api/github.test.ts
  tests/components/about.test.tsx
  tests/lib/github.test.ts
Due: eslint, prettier, markdownlint

feat(about): Add Overwatch stats and dynamic interests
  .env.example
  CHANGELOG.md
  src/app/api/overwatch/route.ts
  src/components/about/InterestsTable.tsx
  src/lib/data/personal.ts
  tests/api/overwatch.test.ts
  tests/components/about.test.tsx
Due: eslint, prettier, markdownlint

feat(steam): Implement Steam game integration and stats view
  .env.example
  CHANGELOG.md
  src/app/about/page.tsx
  src/app/api/steam/achievements/route.ts
  src/app/api/steam/route.ts
  src/app/globals.css
  src/components/about/GameStats.tsx
  src/components/about/TopEight.tsx
  src/lib/data/personal.ts
  tests/api/steam.test.ts
  tests/components/about-edges.test.tsx
  tests/components/about.test.tsx
Due: eslint, prettier, markdownlint

feat(about): Remove Overwatch integration and filter Steam games
  .env.example
  CHANGELOG.md
  src/app/api/overwatch/route.ts
  src/app/api/steam/route.ts
  src/components/about/InterestsTable.tsx
  src/lib/data/personal.ts
  tests/api/overwatch.test.ts
  tests/api/steam.test.ts
  tests/components/about.test.tsx
Due: eslint, prettier, markdownlint

refactor(about): Remove MySpace URL and Comments Wall
  CHANGELOG.md
  src/app/about/page.tsx
  src/components/about/CommentsWall.tsx
  src/components/about/MySpaceUrl.tsx
  src/lib/data/personal.ts
  tests/components/about-edges.test.tsx
  tests/components/about.test.tsx
Due: eslint, prettier, markdownlint

feat(docs): Add documentation page and markdown rendering
  CHANGELOG.md
  package-lock.json
  package.json
  social-media-api-guide.md
  src/app/api/docs/route.ts
  src/app/docs/page.tsx
  src/components/ShipWheel.tsx
  tests/api/docs.test.ts
  tests/components/ShipWheel.test.tsx
  tests/components/docs.test.tsx
Due: eslint, prettier, markdownlint

refactor(docs): Improve navigation expansion and API tests
  .gitignore
  CHANGELOG.md
  src/app/docs/page.tsx
  tests/api/docs.test.ts
Due: eslint, prettier, markdownlint

feat(docs): Refactor page with DocNav and MarkdownRenderer
  CHANGELOG.md
  src/app/docs/page.tsx
  src/components/ShipWheel.tsx
  src/components/docs/DocNav.tsx
  src/components/docs/MarkdownRenderer.tsx
  tests/components/ShipWheel.test.tsx
  tests/components/VoyageSail.test.tsx
  tests/components/ZoroGame.test.tsx
  tests/components/about.test.tsx
  tests/components/docs.test.tsx
  tests/components/docs/MarkdownRenderer.test.tsx
Due: eslint, prettier, markdownlint

feat(security): Enhance app security with headers, validation, and rate limiting
  CHANGELOG.md
  next.config.ts
  src/app/api/instagram/comments/route.ts
  src/app/api/instagram/route.ts
  src/app/api/steam/achievements/route.ts
  src/components/about/MusicPlayer.tsx
  src/components/about/VideoCard.tsx
  src/middleware.ts
  tests/api/instagram-comments.test.ts
  tests/api/instagram.test.ts
  tests/api/steam.test.ts
  tests/components/MusicPlayer.test.tsx
  tests/components/VideoCard.test.tsx
  tests/middleware.test.ts
Due: eslint, prettier, markdownlint

feat(ci/cd): Add CI/CD workflows, Dependabot, and Vercel config
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  CHANGELOG.md
  vercel.json
Due: prettier, markdownlint

feat(license): Add CC-BY-NC-4.0 license
  CHANGELOG.md
  LICENSE
  package.json
Due: prettier, markdownlint

ci(quality): Add CI workflow for code quality checks
  .github/workflows/quality.yml
  CHANGELOG.md
Due: prettier, markdownlint

feat(assets): Replace SVG ship and wheel with PNG images
  CHANGELOG.md
  public/Wheel.png
  public/favicon.png
  public/ship.png
  src/app/favicon.ico
  src/app/layout.tsx
  src/components/ShipWheel.tsx
  src/components/about/ContactTable.tsx
  src/components/landing/VoyageSail.tsx
  src/lib/data/personal.ts
  src/proxy.ts
  tests/components/ShipWheel.test.tsx
  tests/components/VoyageSail.test.tsx
  tests/components/about.test.tsx
  tests/proxy.test.ts
Due: eslint, prettier, markdownlint

docs(readme): Update documentation false claims
  README.md
  docs/api/README.md
  docs/api/endpoint-map.md
  docs/frontend/components/navigation/ShipWheel.md
  docs/frontend/components/navigation/VoyageSail.md
  docs/frontend/pages/docs-page.md
  docs/guides/getting-started.md
  docs/services/middleware.md
Due: prettier, markdownlint

feat(docs): Render Mermaid diagrams client-side and improve navigation
  CHANGELOG.md
  README.md
  docs/api/README.md
  docs/api/endpoint-map.md
  docs/architecture/component-hierarchy.md
  docs/frontend/components/docs/DocNav.md
  docs/frontend/components/docs/MarkdownRenderer.md
  docs/frontend/pages/docs-page.md
  docs/services/docs-route.md
  jest.config.ts
  package-lock.json
  package.json
  src/app/api/docs/route.ts
  src/app/docs/page.tsx
  src/components/docs/DocNav.tsx
  src/components/docs/MarkdownRenderer.tsx
  src/components/docs/MermaidDiagram.tsx
  tests/api/docs.test.ts
  tests/components/docs/MarkdownRenderer.test.tsx
  tests/helpers/__mocks__/mermaid.ts
  tests/helpers/__mocks__/rehype-raw.ts
Due: eslint, prettier, markdownlint

feat(docs): Add documentation viewer with Mermaid diagram support
  README.md
  docs/frontend/components/docs/MermaidDiagram.md
  docs/guides/getting-started.md
Due: prettier, markdownlint

feat(profile): Update tagline, about me, and who I'd like to meet
  CHANGELOG.md
  src/lib/data/personal.ts
  tests/components/about.test.tsx
Due: eslint, prettier, markdownlint

feat(docs): Cleaned up Changelog
  CHANGELOG.md
Due: prettier, markdownlint

Breaking Changes: bump version to v3.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier, markdownlint

Breaking Changes: bump version to v3.0.0
  vercel.json
Due: prettier

Breaking Changes: bump version to v3.0.0
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: prettier
