Repository lukadfagundes/sunny-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, markdownlint

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

markdownlint:
  name: Markdownlint
  entry: npx markdownlint
  language: system
  args:
  - --fix

Phase 5 Pre Implementation Complete
  .github/workflows/ci.yml
  DEPLOYMENT.md
  Dockerfile
  RASPBERRY-PI-SETUP.md
  ROLLBACK.md
  TROUBLESHOOTING.md
  __tests__/deployment/ci-cd.test.ts
  __tests__/deployment/docker.test.ts
  bot/health-server.ts
  bot/index.ts
  bot/package-lock.json
  bot/package.json
  package-lock.json
  package.json
  scripts/validate-env.ts
  scripts/validate-prerequisites.sh
  tsconfig.bot.json
Due: eslint, prettier, markdownlint

Pre Deployment Checkpoint
  .github/workflows/deploy-bot.yml
  DEPLOYMENT.md
  Dockerfile
  RASPBERRY-PI-SETUP.md
  Steps.md
  TROUBLESHOOTING.md
  WS2-PROGRESS.md
  __tests__/helpers/test-db.ts
  __tests__/helpers/test-factories.ts
  __tests__/unit/lib/google/base-service.test.ts
  __tests__/unit/lib/google/quota-manager.test.ts
  __tests__/unit/middleware/auth.test.ts
  __tests__/unit/webhooks/verify.test.ts
  bot/utils/retry.ts
  docker-compose.prod.yml
  jest.config.mjs
  jest.setup.js
  lib/middleware/auth.ts
  scripts/pi-setup.sh
  scripts/sync-env-to-pi.sh
  scripts/test-docker-local.sh
Due: eslint, prettier, markdownlint

Fix Docker build: Add tsconfig.json to build context
  Dockerfile
Due: none

Fix tsconfig.bot.json: Only include bot-required lib files
  tsconfig.bot.json
Due: prettier

Deployment Maintenance
  __tests__/deployment/docker.test.ts
  __tests__/integration/bot/command-execution.test.ts
  __tests__/unit/bot/rate-limiter.test.ts
  __tests__/unit/bot/validators.test.ts
  bot/commands/admin/health.ts
  bot/commands/admin/sync.ts
  bot/commands/base-command.ts
  bot/commands/monitor/alerts.ts
  bot/commands/monitor/services.ts
  bot/commands/monitor/status.ts
  bot/commands/project/create.ts
  bot/commands/project/delete.ts
  bot/commands/project/list.ts
  bot/commands/project/status.ts
  bot/commands/project/update.ts
  bot/commands/quote/approve.ts
  bot/commands/quote/convert.ts
  bot/commands/quote/list.ts
  bot/commands/quote/review.ts
  bot/commands/time/log.ts
  bot/commands/time/report.ts
  bot/commands/time/start.ts
  bot/commands/time/stop.ts
  bot/core/validators.ts
  bot/events/interaction-create.ts
  bot/gateway/client.ts
  bot/gateway/events.ts
  bot/gateway/lifecycle.ts
  bot/notifications/monitoring-notifications.ts
  bot/utils/formatters.ts
  package-lock.json
  package.json
  test-output.txt
  tsconfig.json
  tsconfig.tsbuildinfo
Due: eslint, prettier

Fix Dockerfile: Install all deps in builder stage for TypeScript compilation
  Dockerfile
Due: none

Add Python and build tools to Docker builder stage for native modules
  Dockerfile
Due: none

Add Prisma Client generation to Docker build
  Dockerfile
Due: none

Fix Fly.io status endpoint URL (flycdn.net → flyio.net)
  lib/monitoring/config.ts
Due: eslint

Fix Dockerfile CMD path for bot entry point
  .env.example
  Dockerfile
  docker-compose.prod.yml
Due: prettier

Remove ES module type from bot package.json (use CommonJS)
  bot/package.json
Due: prettier

Add module-alias for runtime path resolution in bot
  bot/index.ts
  bot/package.json
Due: eslint, prettier

Dependency issue
  bot/package-lock.json
Due: none

Docker fix checkpoint
  bot/index.ts
  bot/interactions/verify.ts
  bot/package-lock.json
  bot/package.json
Due: eslint, prettier

Checkpoint
  Dockerfile
Due: none

Checkpoint
  .dockerignore
  Dockerfile
  bot/core/logger.ts
  bot/index.ts
  bot/package.json
  tsconfig.bot.json
Due: eslint, prettier

Checkpoint
  .dockerignore
  PI-DEPLOYMENT.md
  Steps.md
Due: prettier, markdownlint

Checkpoint
  Dockerfile
  PI-DEPLOYMENT.md
  bot/index.ts
Due: eslint, prettier, markdownlint

Checkpoint
  bot/index.ts
  package-lock.json
  package.json
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|json|css|md|yml|yaml)$, but not: deprecated|archived|package-lock\.json|yarn\.lock
  markdownlint: any of: \.md$
