Repository lukadfagundes/sunny-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, markdownlint

.pre-commit-config.yaml:

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: check-json
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ["--branch", "main", "--branch", "master"]

  # JavaScript/TypeScript specific - Using local Node.js (Windows compatible)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|jsx|ts|tsx)$
        args: [--fix]

  # Prettier formatting - Using local Node.js (Windows compatible)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier
        language: system
        files: \.(js|jsx|json|css|md|yml|yaml)$
        exclude: 'deprecated|archived|package-lock\.json|yarn\.lock'
        args: [--write]

  # Custom local hooks (including Markdown linting)
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint
        entry: npx markdownlint
        language: system
        files: \.md$
        args: [--fix]
      - id: npm-audit-check
        name: NPM Audit Check
        entry: npm audit --audit-level=high
        language: system
        pass_filenames: false
        stages: [pre-commit]

default_language_version:
  node: system

default_stages: [pre-commit, pre-push]
fail_fast: false

CI/CO Patches
  .github/scripts/generate-dashboard-data.js
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-dashboard.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/security.yml
  CI-CD-DOCUMENTATION.md
Due: eslint, prettier, markdownlint

CI/CO Patches
  package-lock.json
  package.json
  tsconfig.tsbuildinfo
Due: prettier

CI/CO Patches
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: prettier

CI/CO Patches
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  .gitleaksignore
  jest.setup.js
Due: eslint, prettier

CI/CO Patches
  .github/workflows/codeql.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/security.yml
  .gitleaksignore
  .trufflehogignore
  app/api/send-quote/route.ts
  next.config.js
  tsconfig.tsbuildinfo
Due: eslint, prettier

CI/CO Patches
  .github/workflows/ci.yml
  .github/workflows/deploy-dashboard.yml
  .github/workflows/deploy-pages.yml
Due: prettier

Fix pre-commit: exclude GitHub workflows from Prettier formatting
  .pre-commit-config.yaml
Due: prettier

CI/CO Patches
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-dashboard.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/security.yml
Due: prettier

CI/CO Patches
  .github/workflows/codeql.yml
  .github/workflows/deploy-dashboard.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/security.yml
Due: prettier

CI/CO Patches
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  .gitleaks.toml
Due: prettier

Remove Trinity files from Git Tracking
  lib/trinity-debug.ts
  trinity/knowledge-base/ARCHITECTURE.md
  trinity/knowledge-base/ISSUES.md
  trinity/knowledge-base/To-do.md
  trinity/knowledge-base/Trinity.md
Due: eslint, prettier, markdownlint

Portfolio Page Updated with First Personal Project
  .gitignore
  CI-CD-DOCUMENTATION.md
  CICD_DEPLOYMENT_REPORT.md
  README.md
  app/contact/page.tsx
  app/portfolio/page.tsx
  lib/generateResumePDF.ts
  lib/trinity-debug.ts
Due: eslint, prettier, markdownlint

Portfolio Update
  .env.example
  .gitignore
  .vscode/settings.json
  app/portfolio/page.tsx
  lib/generateResumePDF.ts
Due: eslint, prettier

Check Point
  app/portfolio/page.tsx
  components/quote/TechnicalFormFields.tsx
  components/quote/sections/ContactSection.tsx
  components/quote/sections/ProjectSection.tsx
  lib/generateResumePDF.ts
Due: eslint

Work Experience Update
  .pre-commit-config.yaml
  app/resume/page.tsx
  lib/generateResumePDF.ts
Due: eslint, prettier

Location Update
  app/resume/page.tsx
  lib/generateResumePDF.ts
Due: eslint

About Me Update
  app/about/page.tsx
Due: eslint

QC
  .github/dependabot.yml
  .github/scripts/calculate-readiness.js
  .github/scripts/enforce-merge-gate.js
  .github/scripts/generate-dashboard-data-backup.js
  .github/scripts/generate-dashboard-data.js
  .github/workflows/ci.yml
  .github/workflows/deploy-dashboard.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/security.yml
  .gitleaksignore
  .pre-commit-config.yaml
  .trufflehogignore
  package-lock.json
  package.json
  tsconfig.json
Due: eslint, prettier

Fix: Reinstall autoprefixer and postcss
  package-lock.json
  package.json
Due: prettier

Phase 0 Complete
  .dockerignore
  .env.example
  .github/workflows/deploy-bot.yml
  .pre-commit-config.yaml
  Dockerfile
  PHASE-0-COMPLETE.md
  docker-compose.yml
  docs/README.md
  docs/cloudflare-api-setup.md
  docs/cronjob-api-setup.md
  docs/discord-bot-oauth-setup.md
  docs/fly-io-setup.md
  docs/github-secrets.md
  docs/google-api-setup.md
  docs/google-oauth-redirect-fix.md
  lib/config-validate.ts
  package-lock.json
  package.json
  validate-env.cjs
Due: eslint, prettier, markdownlint

Phase 1 Complete
  AGENT-REVIEW-SUMMARY.md
  PHASE-1-COMPLETE.md
  __tests__/unit/config-validate.test.ts
  __tests__/unit/db/cache.test.ts
  __tests__/unit/db/helpers.test.ts
  __tests__/unit/db/neon-client.test.ts
  __tests__/unit/db/prisma.test.ts
  __tests__/unit/db/schema.test.ts
  __tests__/unit/errors/handler.test.ts
  __tests__/unit/middleware/auth.test.ts
  __tests__/unit/webhooks/verify.test.ts
  app/api/auth/[...nextauth]/route.ts
  docs/implementation/NEON-SETUP-SUMMARY.md
  jest.setup.js
  lib/config-validate.ts
  lib/db/cache.ts
  lib/db/connection-config.ts
  lib/db/helpers.ts
  lib/db/neon-client.ts
  lib/db/prisma.ts
  lib/errors/README.md
  lib/errors/app-error.ts
  lib/errors/async-handler.ts
  lib/errors/handler.ts
  lib/logger.ts
  lib/middleware/auth.ts
  lib/webhooks/verify.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  tsconfig.tsbuildinfo
Due: eslint, prettier, markdownlint

Phase 3 Complete
  app/api/admin/time-entries/report/route.ts
  bot/commands/time/log.ts
  bot/commands/time/stop.ts
Due: eslint

Phase 5 Complete
  PHASE-4-MONITORING-IMPLEMENTATION.md
  PHASE-4-MONITORING-REVIEW.md
  Steps.md
  __tests__/integration/monitoring/end-to-end.test.ts
  __tests__/unit/app/api/admin/monitor/alerts.test.ts
  __tests__/unit/app/api/admin/monitor/services.test.ts
  __tests__/unit/app/api/admin/monitor/status.test.ts
  __tests__/unit/lib/monitoring/service-health-checker.test.ts
  app/api/admin/monitor/alerts/route.ts
  app/api/admin/monitor/services/route.ts
  app/api/admin/monitor/status/route.ts
  audit-results.json
  bot/core/client.ts
  bot/gateway/client.ts
  global.d.ts
  lib/monitoring/config.ts
  lib/monitoring/service-health-checker.ts
  prisma/migrations/20251103044134_add_monitoring_alerts_and_service_health_checks/migration.sql
  prisma/migrations/20251103051828_add_alert_compound_index/migration.sql
  prisma/schema.prisma
  tsconfig.tsbuildinfo
Due: eslint, prettier, markdownlint
