Repository lukadfagundes/sunny-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, markdownlint

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

markdownlint:
  name: Markdownlint
  entry: npx markdownlint
  language: system
  args:
  - --fix

Prod Test
  docs/README.md
Due: prettier, markdownlint

prod test
  .env.example
  .github/workflows/deploy-bot.yml
  docs/README.md
Due: prettier, markdownlint

Prod Test
  .env.example
  docs/README.md
Due: prettier, markdownlint

Prod Test
  .env.example
  .github/workflows/deploy-bot.yml
  docs/README.md
Due: prettier, markdownlint

Timeout adjustment
  .github/workflows/deploy-bot.yml
Due: prettier

Docker Fix
  .github/workflows/deploy-bot.yml
Due: prettier

Checkpoint
  .env.example
  .github/workflows/deploy-bot.yml
  README.md
  app/api/admin/monitor/github/route.ts
  app/api/admin/test-notification/route.ts
  bot/commands/monitoring/monitor-github.ts
  bot/commands/registry.ts
  bot/gateway/client.ts
  bot/package.json
  docs/API-TOKENS-SETUP.md
  docs/deployment/GITHUB-ACTIONS-SETUP.md
  docs/deployment/PI-DEPLOYMENT.md
  lib/config-validate.ts
  lib/integrations/cloudflare.ts
  lib/integrations/cronjob.ts
  lib/integrations/flyio.ts
  lib/integrations/github.ts
  lib/integrations/vercel.ts
  lib/monitoring/cloudflare-monitor.ts
  lib/monitoring/cronjob-monitor.ts
  lib/monitoring/flyio-monitor.ts
  lib/monitoring/github-monitor.ts
  lib/monitoring/vercel-monitor.ts
  scripts/deploy-commands.ts
  scripts/test-bot-commands.ts
  trinity/archive/NEON-SETUP-SUMMARY.md
  validate-env.cjs
Due: eslint, prettier, markdownlint

Tweaks complete
  bot/commands/monitor/status.ts
  bot/events/interaction-create.ts
  bot/gateway/events.ts
  lib/integrations/flyio.ts
  lib/monitoring/cloudflare-monitor.ts
  lib/monitoring/cronjob-monitor.ts
  lib/monitoring/flyio-monitor.ts
  lib/monitoring/github-monitor.ts
  lib/monitoring/service-health-checker.ts
  lib/monitoring/vercel-monitor.ts
  scripts/test-bot-commands.ts
Due: eslint

Tweak
  .github/workflows/deploy-bot.yml
  bot/gateway/events.ts
Due: eslint, prettier

Function Tweaking
  lib/monitoring/cloudflare-monitor.ts
  lib/monitoring/cronjob-monitor.ts
  lib/monitoring/flyio-monitor.ts
  lib/monitoring/github-monitor.ts
  lib/monitoring/vercel-monitor.ts
Due: eslint

Launch Fix
  app/api/discord/webhooks/route.ts
  bot/package-lock.json
  lib/monitoring/cloudflare-monitor.ts
  lib/monitoring/cronjob-monitor.ts
  lib/monitoring/flyio-monitor.ts
  lib/monitoring/github-monitor.ts
  lib/monitoring/vercel-monitor.ts
  package-lock.json
Due: eslint

Docker Fix
  Dockerfile
Due: none

Bot Fix
  bot/package.json
Due: prettier

WF Fix
  .github/workflows/deploy-bot.yml
Due: prettier

chore: bump version to v2.0.1
  README.md
  bot/package-lock.json
  bot/package.json
  package-lock.json
  package.json
  version
  version=2.0.1
  version
Due: prettier, markdownlint

Checkpoint
  lib/integrations/github.ts
  version=2.0.1
  version
Due: eslint

Checkpoint
  app/portfolio/page.tsx
  package-lock.json
  package.json
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|json|css|md|yml|yaml)$, but not: deprecated|archived|package-lock\.json|yarn\.lock
  markdownlint: any of: \.md$
