Repository lukadfagundes/sunny-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, markdownlint

.pre-commit-config.yaml:

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: check-json
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ["--branch", "main", "--branch", "master"]

  # JavaScript/TypeScript specific - Using local Node.js (Windows compatible)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|jsx|ts|tsx)$
        args: [--fix]

  # Prettier formatting - Using local Node.js (Windows compatible)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier
        language: system
        files: \.(js|jsx|json|css|md|yml|yaml)$
        exclude: 'deprecated|archived|package-lock\.json|yarn\.lock'
        args: [--write]

  # Custom local hooks (including Markdown linting)
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint
        entry: npx markdownlint
        language: system
        files: \.md$
        args: [--fix]
      - id: npm-audit-check
        name: NPM Audit Check
        entry: npm audit --audit-level=high
        language: system
        pass_filenames: false
        stages: [pre-commit]

default_language_version:
  node: system

default_stages: [pre-commit, pre-push]
fail_fast: false

ci: skip integration tests in CI (no database available)
  .github/workflows/ci.yml
Due: prettier

ci: include all testPathIgnorePatterns in CI override (CLI replaces config)
  .github/workflows/ci.yml
Due: prettier

ci: make coverage non-blocking (unit-only can't meet 80% without integration tests)
  .github/workflows/ci.yml
Due: prettier

ci: run tests once with --coverage, read report in Phase 6 instead of re-running
  .github/workflows/ci.yml
Due: prettier

ci: disable coverage threshold in CI (unit-only coverage can't meet 80%)
  .github/workflows/ci.yml
Due: prettier

ci: strip Trinity/BAS branding, remove optional checks (E2E, security, best practices)
  .github/workflows/ci.yml
Due: prettier

fix: resolve 8 TypeScript errors and update CI/CD tests to match current workflow
  __tests__/deployment/ci-cd.test.ts
  components/quote/GuidedQuoteForm.tsx
  lib/admin/auth-wrapper.ts
  lib/auth/google-oauth.ts
  lib/quote-types.ts
Due: eslint

fix: add PR comment permissions to CodeQL workflow and make secret scanning blocking
  .github/workflows/codeql.yml
Due: prettier

fix: use env var proxy for secrets check in deploy.yml if condition
  .github/workflows/deploy.yml
Due: prettier

feat: add Cola Records and move Trinity SDK to professional projects on portfolio page
  CHANGELOG.md
  app/portfolio/projects-data.tsx
Due: eslint, prettier, markdownlint

feat: move Trinity SDK to professional, update Bwaincell entry, remove Bwain.app
  CHANGELOG.md
  app/portfolio/projects-data.tsx
Due: eslint, prettier, markdownlint

feat: add Hytale Server Manager to personal projects on portfolio page
  CHANGELOG.md
  app/portfolio/projects-data.tsx
Due: eslint, prettier, markdownlint

feat: add download links to Hytale Server Manager and Cola Records showcases
  app/portfolio/projects-data.tsx
Due: eslint

feat: update Trinity Method SDK showcase and add portfolio tests
  CHANGELOG.md
  __tests__/unit/app/portfolio/projects-data.test.tsx
  app/portfolio/projects-data.tsx
Due: eslint, prettier, markdownlint

fix: use exact URL matching in portfolio tests to resolve CodeQL alerts
  __tests__/unit/app/portfolio/projects-data.test.tsx
Due: eslint

Feat/72 Cola Records Showcase (#81)
  .github/workflows/deploy.yml
  CHANGELOG.md
  __tests__/unit/app/portfolio/projects-data.test.tsx
  app/portfolio/projects-data.tsx
Due: eslint, prettier, markdownlint

chore: bump version to v2.0.3
  CHANGELOG.md
  bot/package-lock.json
  bot/package.json
  package-lock.json
  package.json
Due: prettier, markdownlint

chore: bump version to v2.0.3
  .github/workflows/release.yml
Due: prettier

fix: create .vercel/project.json before vercel pull in deploy workflow
  .github/workflows/deploy.yml
  CHANGELOG.md
  TRINITY.md
  package-lock.json
  package.json
Due: prettier, markdownlint

chore: bump version to v2.0.4
  .github/workflows/deploy.yml
Due: prettier

chore: bump version to v2.0.4
  __tests__/unit/db/neon-client.test.ts
Due: eslint

fix(deps): resolve all 12 npm audit vulnerabilities via upgrades and overrides
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier, markdownlint

fix(test): split Jest config for parallel unit tests and fix GoogleQuotaManager timer leak
  CHANGELOG.md
  jest.config.integration.mjs
  jest.config.mjs
  lib/google/quota-manager.ts
  package.json
Due: eslint, prettier, markdownlint

chore: remove stale page-old.tsx and add bot/dist to gitignore
  .gitignore
  CHANGELOG.md
  app/portfolio/page-old.tsx
Due: eslint, prettier, markdownlint

fix(deps): scope minimatch override to markdownlint-cli to avoid breaking babel-plugin-istanbul
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier, markdownlint

fix(test): set DISCORD_CHANNEL_ADMIN_LOGS before imports in monitor tests for CI compatibility
  CHANGELOG.md
  __tests__/unit/lib/monitoring/cloudflare-monitor.test.ts
  __tests__/unit/lib/monitoring/cronjob-monitor.test.ts
  __tests__/unit/lib/monitoring/flyio-monitor.test.ts
  __tests__/unit/lib/monitoring/github-monitor.test.ts
  __tests__/unit/lib/monitoring/vercel-monitor.test.ts
Due: eslint, prettier, markdownlint

fix(monitoring): use runtime env var getter and isTextBased() in monitor services for CI compatibility
  CHANGELOG.md
  lib/monitoring/cloudflare-monitor.ts
  lib/monitoring/cronjob-monitor.ts
  lib/monitoring/flyio-monitor.ts
  lib/monitoring/github-monitor.ts
  lib/monitoring/vercel-monitor.ts
Due: eslint, prettier, markdownlint

fix(monitoring): use runtime env var getter and isTextBased() in monitor services for CI compatibility
  lib/monitoring/flyio-monitor.ts
  lib/monitoring/github-monitor.ts
  lib/monitoring/vercel-monitor.ts
Due: eslint

fix(lint): add bot/dist to ESLint ignores and .cjs config block for Node.js globals
  CHANGELOG.md
  eslint.config.js
  jest.setup.js
Due: eslint, prettier, markdownlint

chore: bump version to v2.0.5
  CHANGELOG.md
  bot/package-lock.json
  bot/package.json
  package-lock.json
  package.json
Due: prettier, markdownlint

feat(portfolio): Add contributions section and project data
  CHANGELOG.md
  app/portfolio/page.tsx
  app/portfolio/projects-data.tsx
  package.json
Due: eslint, prettier, markdownlint

chore: bump version to v2.0.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier, markdownlint

feat(v3): Initialize project structure and configuration (#84)
  .gitignore
  CHANGELOG.md
  V3-PRD.md
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/portfolio/page.tsx
  src/components/HeroSection.tsx
  src/components/LetterReveal.tsx
  src/components/ShipWheel.tsx
  src/components/StatCounter.tsx
  src/components/StatsSection.tsx
  tsconfig.json
Due: eslint, prettier, markdownlint
