Repository lukadfagundes/sunny-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, markdownlint

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

markdownlint:
  name: Markdownlint
  entry: npx markdownlint
  language: system
  args:
  - --fix

Checkpoint
  README.md
Due: prettier, markdownlint

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier

chore: bump version to v2.0.2
  bot/package-lock.json
  bot/package.json
  package-lock.json
  package.json
Due: prettier

Checkpoint
  .github/SECURITY.md
  .github/SETUP_GITHUB.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/dependabot-auto-merge.yml
  next.config.js
Due: eslint, prettier, markdownlint

Checkpoint
  next.config.js
Due: eslint, prettier

Checkpoint
  app/api/auth/[...nextauth]/route.ts
Due: eslint

Checkpoint
  app/admin/layout.tsx
  app/api/auth/[...nextauth]/route.ts
  tsconfig.json
Due: eslint, prettier

Checkpoint
  .github/workflows/deploy-bot.yml
  app/api/auth/[...nextauth]/route.ts
  app/api/auth/error/page.tsx
  next.config.js
  package.json
Due: eslint, prettier

Checkpoint
  package.json
Due: prettier

Checkpoint
  app/api/auth/[...nextauth]/route.ts
  package-lock.json
  package.json
Due: eslint, prettier

Checkpoint
  app/api/auth/[...nextauth]/route.ts
  package.json
Due: eslint, prettier

Checkpoint
  .env.example
  app/api/auth/[...nextauth]/route.ts
  package-lock.json
Due: eslint

Checkpoint
  app/admin/layout.tsx
  app/api/auth/[...nextauth]/route.ts
  app/api/auth/callback/google/route.ts
  app/api/auth/session/route.ts
  app/api/auth/signin/route.ts
  app/api/auth/signout/route.ts
  app/providers.tsx
  components/admin/AdminNav.tsx
  lib/auth/google-oauth.ts
  lib/middleware/auth.ts
  package-lock.json
  package.json
Due: eslint, prettier

Checkpoint
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  CODE_OF_CONDUCT.md
  LICENSE
  PRIVACY.md
  README.md
  __tests__/unit/db/schema.test.ts
  app/admin/layout.tsx
  app/api/admin/quotes/[id]/route.ts
  app/api/admin/quotes/route.ts
  app/api/send-quote/route.ts
  app/providers.tsx
  components/admin/AdminNav.tsx
  components/quote/TechnicalFormFields.tsx
  components/quote/sections/ContactSection.tsx
  components/quote/sections/RequirementsSection.tsx
  docs/api/SECURITY.md
  docs/deployment/INCIDENT-RESPONSE.md
  docs/deployment/SECURITY-CHECKLIST.md
  docs/fly-io-setup.md
  hooks/useTechnicalForm.ts
  lib/admin/quote-conversion.ts
  lib/google/README.md
  lib/quote-templates.ts
  package-lock.json
  prisma/migrations/20251214183941_add_phone_to_quotes/migration.sql
  prisma/schema.prisma
Due: eslint, prettier, markdownlint

Maintenance
  .github/workflows/deploy-bot.yml
Due: prettier

Checkpoint
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: prettier

Checkpoint
  CHANGELOG.md
  README.md
  app/README.md
  app/portfolio/page-old.tsx
  app/portfolio/page.tsx
  app/portfolio/projects-data.tsx
  bot/README.md
  components/portfolio/ProjectModal.tsx
  docs/API-TOKENS-SETUP.md
  docs/DATABASE_INTERNET_EXPOSURE.md
  docs/README.md
  docs/api/README.md
  docs/api/SECURITY.md
  docs/architecture/README.md
  docs/architecture/overview.md
  docs/cloudflare-api-setup.md
  docs/cronjob-api-setup.md
  docs/deployment/DATABASE-BACKUP-RESTORE.md
  docs/deployment/DEPLOYMENT-CHECKLIST.md
  docs/deployment/DEPLOYMENT-OVERVIEW.md
  docs/deployment/GITHUB-ACTIONS-SETUP.md
  docs/deployment/INCIDENT-RESPONSE.md
  docs/deployment/PI-DEPLOYMENT.md
  docs/deployment/PI-TESTING-GUIDE.md
  docs/deployment/RASPBERRY-PI-SETUP.md
  docs/deployment/README.md
  docs/deployment/SECRETS-ROTATION.md
  docs/deployment/SECURITY-CHECKLIST.md
  docs/deployment/TROUBLESHOOTING.md
  docs/discord-bot-oauth-setup.md
  docs/fly-io-setup.md
  docs/github-secrets.md
  docs/google-api-setup.md
  docs/google-oauth-redirect-fix.md
  docs/guides/README.md
  docs/guides/getting-started.md
  docs/reference/README.md
  lib/README.md
Due: eslint, prettier, markdownlint

Checkpoint
  docs/api/examples.md
  docs/architecture/decisions/ADR-001-hybrid-cloud-architecture.md
  docs/architecture/decisions/ADR-002-nextjs-app-router.md
  docs/architecture/decisions/ADR-003-prisma-orm.md
  docs/architecture/decisions/ADR-004-discord-js-framework.md
  docs/architecture/decisions/ADR-005-postgresql-database.md
  docs/architecture/decisions/ADR-006-rollbar-error-tracking.md
  docs/architecture/decisions/README.md
  docs/architecture/decisions/template.md
  docs/architecture/diagrams.md
  docs/deployment/DEPLOYMENT-OVERVIEW.md
  docs/deployment/GITHUB-ACTIONS-SETUP.md
  docs/deployment/PI-DEPLOYMENT.md
  docs/deployment/RASPBERRY-PI-SETUP.md
  docs/deployment/TROUBLESHOOTING.md
  docs/guides/advanced/api-patterns.md
  docs/guides/advanced/database-patterns.md
  docs/guides/advanced/discord-bot-patterns.md
  docs/guides/advanced/react-patterns.md
  docs/guides/advanced/testing-patterns.md
  docs/guides/contributing.md
  docs/guides/database-management.md
  docs/guides/database-seeding-advanced.md
  docs/guides/discord-bot-development.md
  docs/guides/monitoring.md
  docs/guides/security.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/reference/environment-variables.md
Due: prettier, markdownlint

Resume Addition
  lib/generateResumePDF.ts
Due: eslint

Checkpoint
  CHANGELOG.md
Due: prettier, markdownlint

feat(portfolio): add Hytale Server Manager and Cola Records to personal projects
  app/portfolio/page.tsx
  app/portfolio/projects-data.tsx
Due: eslint

feat: gate all deployments behind GitHub Releases workflow (#75)
  .github/workflows/ci.yml
  .github/workflows/deploy-bot.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
Due: prettier, markdownlint

fix: resolve 8 failing test suites and enable skipped atomicity test
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/markdown-lint.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  __tests__/app/api/admin/health/route.test.ts
  __tests__/deployment/ci-cd.test.ts
  __tests__/integration/analytics.integration.test.ts
  __tests__/integration/monitoring/end-to-end.test.ts
  __tests__/integration/projects-workflow.integration.test.ts
  __tests__/integration/proposal-generation.integration.test.ts
  __tests__/integration/quotes-workflow.integration.test.ts
  __tests__/lib/middleware/admin-auth.test.ts
  __tests__/unit/config-validate.test.ts
  __tests__/unit/lib/admin/quote-conversion.test.ts
  __tests__/unit/lib/monitoring/service-health-checker.test.ts
  __tests__/unit/middleware/auth.test.ts
  jest.config.mjs
  package-lock.json
Due: eslint, prettier, markdownlint

fix: comprehensive test suite repair and deployment pipeline configuration
  .env.example
  .github/workflows/deploy.yml
  CHANGELOG.md
  vercel.json
Due: prettier, markdownlint

fix: remove gitignored dirs from CI structure validation
  .github/workflows/ci.yml
Due: prettier

ci: make type-check non-blocking (known TS errors with ignoreBuildErrors)
  .github/workflows/ci.yml
Due: prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|json|css|md|yml|yaml)$, but not: deprecated|archived|package-lock\.json|yarn\.lock
  markdownlint: any of: \.md$
