Repository lukadfagundes/sunny-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, markdownlint

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

markdownlint:
  name: Markdownlint
  entry: npx markdownlint
  language: system
  args:
  - --fix

Breaking Changes: bump version to v3.0.0
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: prettier

Breaking Changes: bump version to v3.0.0
  CHANGELOG.md
Due: prettier, markdownlint

Breaking Changes: bump version to v3.0.0
  public/wheel.png
Due: none

refactor(ui): Improve responsiveness and update navigation icons
  CHANGELOG.md
  next.config.ts
  src/app/api/docs/route.ts
  src/app/docs/page.tsx
  src/components/HeroSection.tsx
  src/components/ShipWheel.tsx
  src/components/landing/ContributionHeatmap.tsx
  src/components/landing/CurrentlyBuilding.tsx
  src/components/landing/StatsDashboard.tsx
  tests/api/docs.test.ts
  tests/components/CurrentlyBuilding.test.tsx
  tests/components/ShipWheel.test.tsx
Due: eslint, prettier, markdownlint

Dev (#92)
  CHANGELOG.md
  next.config.ts
  public/Wheel.png
  src/app/api/docs/route.ts
  src/app/docs/page.tsx
  src/components/HeroSection.tsx
  src/components/ShipWheel.tsx
  src/components/landing/ContributionHeatmap.tsx
  src/components/landing/CurrentlyBuilding.tsx
  src/components/landing/StatsDashboard.tsx
  tests/api/docs.test.ts
  tests/components/CurrentlyBuilding.test.tsx
  tests/components/ShipWheel.test.tsx
Due: eslint, prettier, markdownlint

chore: bump version to v3.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier, markdownlint

feat(projects): Add Get Shit Done (GSD) project to portfolio
  CHANGELOG.md
  eslint.config.mjs
  src/lib/data/projects.ts
Due: eslint, prettier, markdownlint

chore(deps): Update brace-expansion, handlebars, picomatch
  package-lock.json
Due: none

feat/GSD-contribution (#98)
  CHANGELOG.md
  eslint.config.mjs
  package-lock.json
  src/lib/data/projects.ts
Due: eslint, prettier, markdownlint

chore: bump version to v3.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier, markdownlint

feat(seo): Implement comprehensive SEO metadata and schema
  CHANGELOG.md
  public/og-image.png
  src/app/about/layout.tsx
  src/app/docs/layout.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/portfolio/layout.tsx
  src/app/portfolio/page.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/HeroSection.tsx
  src/components/about/NetworkBanner.tsx
  src/components/landing/TechArsenal.tsx
  src/lib/data/projects.ts
  tests/components/TechArsenal.test.tsx
  tests/components/about.test.tsx
  tests/pages/about.test.tsx
Due: eslint, prettier, markdownlint

refactor(docs): Migrate docs page to server component and shared utilities
  next.config.ts
  src/app/api/docs/route.ts
  src/app/docs/layout.tsx
  src/app/docs/page.tsx
  src/components/HeroSection.tsx
  src/components/docs/DocNav.tsx
  src/components/docs/DocsClient.tsx
  src/lib/docs.ts
  sunny-stack-docs-fix-brief.md
  tests/components/docs.test.tsx
  tests/lib/docs.test.ts
Due: eslint, prettier, markdownlint

chore(og-image): Update Open Graph image
  public/og-image.png
Due: none

refactor(docs): Update docs viewer to use server components and improve SEO
  README.md
  docs/frontend/components/about/NetworkBanner.md
  docs/frontend/components/docs/DocNav.md
  docs/frontend/pages/docs-page.md
  docs/frontend/pages/home.md
  docs/frontend/pages/portfolio.md
  docs/services/docs-route.md
Due: prettier, markdownlint

chore(changelog): updated CHANGELOG.md
  CHANGELOG.md
Due: prettier, markdownlint

chore(deps): Update chevrotain to v12
  package-lock.json
Due: none

Title: feat(seo): SEO overhaul + docs server rendering + portfolio restructure (#99)
  CHANGELOG.md
  README.md
  docs/frontend/components/about/NetworkBanner.md
  docs/frontend/components/docs/DocNav.md
  docs/frontend/pages/docs-page.md
  docs/frontend/pages/home.md
  docs/frontend/pages/portfolio.md
  docs/services/docs-route.md
  next.config.ts
  package-lock.json
  public/og-image.png
  src/app/about/layout.tsx
  src/app/api/docs/route.ts
  src/app/docs/layout.tsx
  src/app/docs/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/portfolio/layout.tsx
  src/app/portfolio/page.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/HeroSection.tsx
  src/components/about/NetworkBanner.tsx
  src/components/docs/DocNav.tsx
  src/components/docs/DocsClient.tsx
  src/components/landing/TechArsenal.tsx
  src/lib/data/projects.ts
  src/lib/docs.ts
  sunny-stack-docs-fix-brief.md
  tests/components/TechArsenal.test.tsx
  tests/components/about.test.tsx
  tests/components/docs.test.tsx
  tests/lib/docs.test.ts
  tests/pages/about.test.tsx
Due: eslint, prettier, markdownlint

chore: bump version to v3.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier, markdownlint

fix(docs): Fetch content from API route for reliable tracing
  next.config.ts
  src/app/docs/page.tsx
Due: eslint

Dev (#100)
  CHANGELOG.md
  next.config.ts
  src/app/docs/page.tsx
Due: eslint, prettier, markdownlint

chore: bump version to v3.0.3
  CHANGELOG.md
Due: prettier, markdownlint

chore: bump version to v3.0.4
  CHANGELOG.md
  next.config.ts
  package-lock.json
  package.json
Due: eslint, prettier, markdownlint

chore: bump version to v3.0.5
  CHANGELOG.md
  next.config.ts
  package-lock.json
  package.json
Due: eslint, prettier, markdownlint

refactor(GSC): Added meta tag for GSC
  CHANGELOG.md
  src/app/layout.tsx
Due: eslint, prettier, markdownlint

Dev (#101)
  CHANGELOG.md
  src/app/layout.tsx
Due: eslint, prettier, markdownlint

chore: bump version to v3.0.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier, markdownlint

fix(social): Fix OG image not appearing on social previews
  CHANGELOG.md
  public/og-image.png
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint, prettier, markdownlint

Dev (#102)
  CHANGELOG.md
  public/og-image.png
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint, prettier, markdownlint

chore: bump version to v3.0.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier, markdownlint

feat(stilltide): Revamp project details and add emdash style test
  CHANGELOG.md
  src/lib/data/projects.ts
  tests/lib/no-emdash.test.ts
Due: eslint, prettier, markdownlint

style(text): Standardize em dash to hyphen
  src/app/about/layout.tsx
  src/app/docs/page.tsx
  src/app/layout.tsx
  src/app/portfolio/layout.tsx
  src/components/404/GameHUD.tsx
  src/components/404/StaticNotFound.tsx
  src/components/landing/ContributionHeatmap.tsx
  src/components/portfolio/ProjectCard.tsx
  src/lib/data/projects.ts
  src/lib/github.ts
  tests/components/ContributionHeatmap.test.tsx
  tests/components/GameHUD.test.tsx
Due: eslint

chore(deps): Update Next.js to 16.2.3
  package-lock.json
  package.json
Due: prettier

chore: bump version to v3.0.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier, markdownlint

ci(deploy): Allow manual workflow dispatch
  .github/workflows/deploy.yml
Due: prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|json|css|md|yml|yaml)$, but not: deprecated|archived|package-lock\.json|yarn\.lock
  markdownlint: any of: \.md$
