Repository lukadfagundes/sunny-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, markdownlint

.pre-commit-config.yaml:

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: check-json
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ["--branch", "main", "--branch", "master"]

  # JavaScript/TypeScript specific - Using local Node.js (Windows compatible)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|jsx|ts|tsx)$
        args: [--fix]

  # Prettier formatting - Using local Node.js (Windows compatible)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier
        language: system
        files: \.(js|jsx|json|css|md|yml|yaml)$
        exclude: 'deprecated|archived|package-lock\.json|yarn\.lock'
        args: [--write]

  # Custom local hooks (including Markdown linting)
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint
        entry: npx markdownlint
        language: system
        files: \.md$
        args: [--fix]
      - id: npm-audit-check
        name: NPM Audit Check
        entry: npm audit --audit-level=high
        language: system
        pass_filenames: false
        stages: [pre-commit]

default_language_version:
  node: system

default_stages: [pre-commit, pre-push]
fail_fast: false

Checkpoint
  docs/DATABASE_INTERNET_EXPOSURE.md
Due: prettier, markdownlint

checkpoint
  __tests__/integration/db/performance.benchmark.test.ts
Due: eslint

Prod Test
  app/api/admin/health/route.ts
Due: eslint

Prod Fix
  next.config.js
Due: eslint, prettier

Dependencies Fix
  package.json
Due: prettier

Prod Patch
  package.json
Due: prettier

Package Fix
  package-lock.json
Due: none

Tests Fix
  lib/config-validate.ts
Due: eslint

Prod Fix
  jest.config.mjs
  package-lock.json
Due: none

Prod Test
  .gitignore
  app/admin/projects/[id]/edit/page.tsx
  app/admin/projects/[id]/page.tsx
  app/admin/projects/new/page.tsx
  app/admin/projects/page.tsx
  app/admin/proposals/page.tsx
  app/api/admin/analytics/route.ts
  app/api/admin/projects/[id]/route.ts
  app/api/admin/projects/route.ts
  app/api/admin/proposals/route.ts
Due: eslint

Prod Test
  lib/logger.ts
Due: eslint

Prod Fix
  lib/logger.ts
Due: eslint

chore:bump to version 2.0.0
  package-lock.json
  package.json
Due: prettier

Test
  .github/workflows/test.yml
Due: prettier

WF Fix
  .github/workflows/deploy-bot.yml
Due: prettier

Prod Test
  .env.example
  .github/workflows/deploy-bot.yml
Due: prettier

Prod Test
  .github/workflows/deploy-bot.yml
Due: prettier

Prod Test
  docs/README.md
Due: prettier, markdownlint

Prod Test
  .env.example
  .github/workflows/deploy-bot.yml
  .github/workflows/test.yml
  docs/README.md
Due: prettier, markdownlint
