Repository lukadfagundes/sunny-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, markdownlint

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

markdownlint:
  name: Markdownlint
  entry: npx markdownlint
  language: system
  args:
  - --fix

Checkpoint
  .env.example
  DEVELOPMENT-SETUP.md
  PI-DEPLOYMENT.md
  bot/gateway/client.ts
  docker-compose.dev.yml
  docker-compose.prod.yml
  package-lock.json
  package.json
Due: eslint, prettier, markdownlint

Checkpoint
  bot/core/api-client.ts
  lib/middleware/auth.ts
  package.json
  scripts/test-bot-commands.ts
Due: eslint, prettier

Checkpoint
  PI-DEPLOYMENT.md
  app/api/admin/quotes/[id]/convert/route.ts
  app/api/admin/quotes/[id]/route.ts
  docker-compose.prod.yml
  docker-compose.yml
Due: eslint, prettier, markdownlint

Checkpoint
  .dockerignore
  .env.example
  ARCHITECTURE.md
  Dockerfile.api
  PI-DEPLOYMENT.md
  app/api/health/route.ts
  docker-compose.dev.yml
  docker-compose.prod.yml
  next.config.js
Due: eslint, prettier, markdownlint

Checkpoint
  DEPLOYMENT-OVERVIEW.md
  PI-PRODUCTION-DEPLOYMENT.md
  PI-TESTING-GUIDE.md
  docker-compose.prod.yml
Due: prettier, markdownlint

Checkpoint
  .github/workflows/deploy-bot.yml
  AGENT-REVIEW-SUMMARY.md
  ARCHITECTURE.md
  DEPLOYMENT.md
  DEVELOPMENT-SETUP.md
  DISCORD-BOT-API-REFERENCE.md
  DISCORD-BOT-COMMANDS.md
  DISCORD-BOT-DEPLOYMENT.md
  Dockerfile.api
  IMPLEMENTATION-SUMMARY-API-LAYER.md
  MONITORING-ENDPOINTS-IMPLEMENTATION.md
  PHASE-0-COMPLETE.md
  PHASE-1-COMPLETE.md
  PHASE-1.5-TASK-1.9-DATALOADER-IMPLEMENTATION.md
  PHASE-2-BUILD-FIX.md
  PHASE-2-COMPLETE.md
  PHASE-2-GROUP-6-TESTING-COMPLETE.md
  PHASE-4-MONITORING-IMPLEMENTATION.md
  PHASE-4-MONITORING-REVIEW.md
  PI-DEPLOYMENT.md
  README.md
  ROLLBACK.md
  Steps.md
  TEST-SUITE-FILES.md
  TIME-TRACKING-API-IMPLEMENTATION.md
  WS2-PROGRESS.md
  docs/deployment/DEPLOYMENT-CHECKLIST.md
  docs/deployment/DEPLOYMENT-OVERVIEW.md
  docs/deployment/GITHUB-ACTIONS-SETUP.md
  docs/deployment/PI-PRODUCTION-DEPLOYMENT.md
  docs/deployment/PI-TESTING-GUIDE.md
  docs/deployment/RASPBERRY-PI-SETUP.md
  docs/deployment/README.md
  docs/deployment/SANITIZE-DOCS.md
  docs/deployment/TROUBLESHOOTING.md
  scripts/personalize-docs.sh
  scripts/sanitize-docs.sh
  scripts/setup-pi-autostart.sh
  test-output.txt
Due: prettier, markdownlint

WO-001 Phase 1: Test Infrastructure Recovery & TypeScript Strict Build
  AUDIT-AJ-INV-001.md
  AUDIT-ALY-INV-001.md
  AUDIT-APO-INV-001.md
  AUDIT-CAP-BON-BAS-INV-001.md
  AUDIT-DRA-INV-001.md
  AUDIT-EUS-INV-001.md
  AUDIT-KIL-INV-001.md
  AUDIT-MON-INV-001.md
  AUDIT-ROR-INV-001.md
  AUDIT-TRA-INV-001.md
  AUDIT-URO-INV-001.md
  __tests__/app/api/admin/health/route.test.ts
  __tests__/unit/lib/admin-auth-wrapper.test.ts
  app/api/admin/quotes/[id]/convert/route.ts
  app/api/admin/quotes/[id]/route.ts
  app/api/discord/interactions/route.ts
  bot/types.ts
  jest.setup.js
  lib/admin/auth-wrapper.ts
  lib/google/example-gmail-service.ts
  lib/middleware/admin-auth.ts
  next.config.js
  scripts/validate-env.ts
  tsconfig.json
  tsconfig.tsbuildinfo
Due: eslint, prettier, markdownlint

Ready for Dev Merge
  docs/deployment/PI-TESTING-GUIDE.md
Due: prettier, markdownlint

Checkpoint
  .github/workflows/test.yml
  __tests__/unit/middleware/auth.test.ts
Due: eslint, prettier

Checkpoint
  bot/index.ts
  docs/deployment/PI-PRODUCTION-DEPLOYMENT.md
  package.json
Due: eslint, prettier, markdownlint

Checkpoint
  Dockerfile
  PI-DEPLOYMENT.md
  docker-compose.yml
  docs/deployment/PI-PRODUCTION-DEPLOYMENT.md
  docs/deployment/PI-TESTING-GUIDE.md
  package-lock.json
  package.json
Due: prettier, markdownlint

Production Check
  Dockerfile
  docs/deployment/PI-DEPLOYMENT.md
  docs/deployment/PI-PRODUCTION-DEPLOYMENT.md
  tsconfig.json
Due: prettier, markdownlint

Production Test
  .github/workflows/codeql.yml
Due: prettier

Prod Test
  __tests__/security/access-control.test.ts
  __tests__/security/authentication.test.ts
Due: eslint

Prod Test
  __tests__/deployment/docker.test.ts
  __tests__/integration/analytics.integration.test.ts
  __tests__/integration/bot/command-execution.test.ts
  __tests__/unit/db/helpers.test.ts
Due: eslint

Prodtest
  .gitignore
  __tests__/integration/bot/webhook-notifications.test.ts
  __tests__/integration/proposal-generation.integration.test.ts
Due: eslint

Prod Test
  .github/workflows/test.yml
  coverage-report.zip
  package.json
  test-results.zip
Due: prettier

ProdTest
  coverage-report.zip
  test-results.zip
Due: none

Tests
  __tests__/integration/bot/webhook-notifications.test.ts
Due: eslint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|json|css|md|yml|yaml)$, but not: deprecated|archived|package-lock\.json|yarn\.lock
  markdownlint: any of: \.md$
